.card {
	margin: .5rem 0 1rem;
	border-radius: 2px;
	display: flex;
	height: 150px;
	background-color: #fff;
	margin-bottom: 15px;
	width: 100%;
}

.card .card-image {
	width: 110px
}

.card h4 {
	font-size: 0.9rem;
	margin-block-start: 0;
	margin-block-end: 0;
}

.card p {
	font-size: 0.8rem;
	margin-block-start: 0;
	margin-block-end: 0;
}

.card .card-image img {
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 0;
	top: 0;
	height: 100px;
	width: 100px;
}

.card .detail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	padding-top: 0;
}

.card .detail h4 a{
	color: #000000;
}

.crumb {
	display: flex;
	justify-content: flex-end;
}

span.crumb-item {
	font-size: .8rem;
	border-radius: 2px;
	background-color: #eceff1;
	min-width: 3rem;
	padding: 0 6px;
	margin-left: 14px;
	text-align: center;
	line-height: 22px;
	height: 22px;
	float: right;
}

/* Post title text */
h3.title {
	font-weight: 100;
	font-size: 2rem;
	margin: 1rem 1rem;
	font-weight: bold;
}

.author-card {
	background-color: #fafafa;
	padding: 24px;
	display: grid;
	grid-template-columns: 1fr 9fr;
	gap: 10px;
}

.author-card img {
	max-width: 100px;
	height: auto;
	border-radius: 50%;
}
p.bio {
	color: #918f8f;
	font-size: 12px;
}
.author-text {
	color: #777373;
	font-size: 14px;
}

article {
	padding-top: 1rem;
}

article img {
	width: 100%;
	height: auto;
}
article .content {
	margin: 2rem 0 5rem;
	padding: 0 30px;
}
article .content p,
article .content .text {
	font-size: 21.1px;
	text-align: start;
	line-height: 33.18px;
	padding-bottom: 10px;
}

.content .highlight {
	border-left: 3px solid #000;
	padding-left: 10px;
	font-style: italic;
}


/* social share container */
.social-share {
	padding: 0 30px;
	margin-bottom: 2rem;
}

.subscribe {
	padding: 0 30px;
}

/* global button style */
.btn {
	background: #4a148c;
	color: #fff;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	height: 36px;
	padding: 0 16px;
	vertical-align: middle;
	line-height: 36px;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
		0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.btn.primary {
	padding: 10px 15px;
	background-color: #cccccc;
	color: #4a148c;
	font-weight: bold;
}

.btn.social {
	padding: 10px 15px;
	font-weight: bold;
}

/* twitter share button */
.twitter {
	background-color: #1ca0f0;
}

/* facebook share button */
.facebook {
	background-color: #0676e8;
}

/* linkedin share button */
.linkedin {
	background: #0077b5;
}

.btn:hover {
	opacity: 0.8;
}

@media (max-width: 768px) {
	h3.title {
		font-size: 1.5rem;
	}
	.author-card p {
		font-size: 10px;
	}
	.author-card {
		margin: 0 0.5rem;
	}

	.card .detail {
		padding: 0.5rem;
	}
	.card h4 {
		font-size: 0.8rem;
	}

	article .content {
		padding-right: 0;
		padding-left: 0;
	}

	.social-share {
		padding: 0;
	}
}
